framework:
    secret: '%env(APP_SECRET)%'
    default_locale: en
    http_method_override: false
    handle_all_throwables: true
    php_errors:
        log: true
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    # Enable validation
    validation: { enable_attributes: true }
    
    # Enable forms
    form: { enabled: true }
    
    # Enable CSRF protection
    csrf_protection: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
